.logo{
    width: 30%;
}
.main-dashboard-div{
    display: flex;
    margin-top: 2em;
}

.details-profile {
    display: grid;
    justify-content: flex-start;
    margin-left: 5em;
    text-align: inherit;
    font-size: large;
    font-weight: bold;
    color: blueviolet;
}
.span-fragment{
    white-space: nowrap;
    margin-left: 20px;
}
.change-service-color{
    color: green;
}
.bg-light{
    margin-top: 20px;
    margin-bottom: 10px;
}

.row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
