
/* This codebase desgin according to mozilla open source license.
Redistribution , contribution and improve codebase under license 
convensions. @contact Ali Hassan AliMatrixCode@protonmail.com */

.main-dashboard-div {
  background-color:#f9f9f9;
  font-family: 'Lato', sans-serif;
  height: 100vh;
}

.icon-light {
  color: black;
  margin-right: 5px;
}

.dropdown-menu {
  left: 30px;
}

.h4 {
  margin: 20px 0px;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 60px;
}

.custom-navbar {
  background-color: #ededed;
  position: absolute;
  top: 3px;
  width: 100%;
}

.proteins-card{
  position: absolute;
  top: 87px;
  left: -2px
    
}

.jmol{
  position: relative;
  color: floralwhite;
  left: 0pc;
  font-style: italic;
  font-weight: bold;
  top:0pc;
}

.jmol:hover{
    color: floralwhite;
}

.description{
  position: absolute;
  width: 397px;
  left:2px;
  height:227px;
  border-radius: 54px;
  top: 214px;
  }

.img-class{
    position: absolute;
      left: 2px;
      width: 398px;
      top: -2px;
      border: none;
  }

.images{
    position: absolute;
    width: 304px;
    left: -2px;
    top: -9px;
    height:212px;
  }

.card-body-text{
    position: absolute;
    left: -15px;
    top: 188px;
    width: 315px;
    font-size:large;
    border-radius: 10px;
}

.foot-mark{
  display: flex;
  position: relative;
  justify-content: center;
  top: 23pc;
  background-color: black;
  color: whitesmoke;
  height: 9pc;
}

.channel{
  position: absolute;
  display: flex;
  top: 18px;
  left:73pc;
  border-radius: 11px;
}

.insta{
  position : absolute;
  display: flex;
  left: 27px;
}


.tweet{
  position : absolute;
  display: flex;
  left: 53px;
}

.reddit{
  position : absolute;
  display: flex;
  left: 77px;
}