
/* This codebase desgin according to mozilla open source license.
Redistribution , contribution and improve codebase under license
convensions. @contact Ali Hassan AliMatrixCode@protonmail.com */

.main-dashboard-div {
  background-color:#f9f9f9;
  font-family: 'Lato', sans-serif;
  height: 100vh;
}

.icon-light {
  color: black;
  margin-right: 5px;
}

.dropdown-menu {
  left: 30px;
}

.h4 {
  margin: 20px 0px;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infection-field, .file-upload-field  {
  margin-top: 45px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 60px;
}

.custom-navbar {
  background-color: #ededed;
}

.img-class{
	position: absolute;
	left: 2px;
	width: 398px;
	top: -2px;
	border: none;
  }

.images{
	position: absolute;
	width: 304px;
	left: -2px;
	top: -9px;
	height:212px;
  }

.card-body-text{
	position: absolute;
	left: -15px;
	top: 195px;
	width: 315px;
	font-size:medium;
  }

.description{
	position: absolute;
	width: 397px;
	left:2px;
	height:227px;
	border-radius: 54px;
	top: 214px;
  }

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label {
  background: #343a40;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dashboard-form {
  margin: 109px 0px;
}

.submit-button {
  background: #31dc58;
  margin-top: -49px;
  width: 25%;
}

.file-uploaded {
  text-align: center;
  font-size: 15px;
}

.verified-icon {
  margin-top: 10px;
  color: #cdf7d7;
}

.unveriied-icon{
  margin-top: 10px;
  color : #ff0000;
}

.Location{
  background-color: #31dc58;
  border-style : none;
  font-size: medium;
  font-weight: bold;
}

#Homeland,
#Hometown,
#buttonTown,
#streetAddress,
#snumButton{
  visibility: visible;
}

.container-alert{
  margin: 50px;
  position: relative;
  width: 80%;
 left: 40px;
 }
 
 .alert-danger{
   border-radius: 20px;
   color:red;
 }
 
 .alert-success{
   border-radius: 20px;
   color: green;
 }
 
 .span-message{
   position: inherit;
   display: inherit;
   margin-top: 30px ;
 }
 
 #danger{
   margin-left: 90%;
    border-radius: 10px; 
    margin-bottom: 50px;
 }
 
 .location-div{
   position: absolute;
   left: 9px;
   display: flex;
   top: 86px;

 }
 
 .fa-map-marker{
   color: green;
 }
 
 .small-div{
   visibility: hidden;
   border-radius: 10px;
   position: absolute;
   top: 6px;
   left: 45px;
   border: 2px white none; 
   width: 300px;
 }
 
  .toggle.mode, .toggle.on.mode{ 
   border-radius: 20px;
   border: 2px greenyellow dotted;
   transition: left 0.7s; -webkit-transition: left 0.7s;
  }
  
  .toggle.off.mode{
    border-radius: 20px;
    border: 2px red dashed;
    transition: right 0.7s; -webkit-transition: right 0.7s;
  }
  
  .fa-user{
    position: relative;
    left: 7px;
  }

  .fa-user-secret{
    position: relative;
    left: -5px;
  }
  
  .signed_message,.verified, .public_address{
    visibility: hidden;
  }

  .sign{
    position: relative;
    left: 129px;
    top: 1px;
    width: 445px;
    z-index: 2;
    border-radius: 29px;
    box-shadow: 5px 5px whitesmoke;
    display: grid;
  }


  .fortcard{
    width: 18rem;
  }
  