
/* This codebase desgin according to mozilla open source license.
Redistribution , contribution and improve codebase under license 
convensions. @contact Ali Hassan AliMatrixCode@protonmail.com */

.main-dashboard-div {
  background-color:#f9f9f9;
  font-family: 'Lato', sans-serif;
  height: 100vh;
}

.icon-light {
  color: black;
  margin-right: 5px;
}

.dropdown-menu {
  left: 30px;
}

.h4 {
  margin: 20px 0px;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 60px;
}

.custom-navbar {
  background-color: #ededed;
  position: absolute;
  top: 3px;
  width: 100%;
}

.proteins-card{
    position: absolute;
    top: 103px;
    left: 309px;
    
}

.jmol{
  position: relative;
  color: whitesmoke;
  left: 24pc;
  top:2px;
}

.jmol:hover{
    color: white;
}

.description{
  position: absolute;
  width: 397px;
  left:2px;
  height:227px;
  border-radius: 54px;
  top: 214px;
  }

.img-class{
    position: absolute;
      left: 2px;
      width: 398px;
      top: -2px;
      border: none;
  }

.images{
    position: absolute;
    width: 304px;
    left: -2px;
    top: -9px;
    height:212px;
  }

.card-body-text{
    position: absolute;
    left: -15px;
    top: 188px;
    width: 315px;
    font-size:large;
    border-radius: 10px;
}
