
html{
	min-height: 100%;
	/*overflow: hidden;*/
}

body{
	height: calc(100vh - 8em);
	padding: 4em;
}

.container-1{
	text-align: center; 
	background-image: initial;
	margin-top: 50px;
}

.container2{
	padding-top: 400px; 
	text-align: center
}

.container3{
	letter-spacing: 3px; 
	text-rendering: geometricPrecision; 
	text-rendering: auto; 
	font-size: 20px;
}

.line-1{
	position: relative;
	top:50%;
	width: 24em;
	margin: 0 auto;
	color: black;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	transform: translateY(-50%);
}

.anim-typewriter{
	animation: typewriter 30s steps(44) 1s 1 
	normal both,
	          blinkTextCursor 500ms steps(44)
	infinite normal;
}
@keyframes typewriter{
	from{width: 0;}
	to{width: 24em;}
}
@keyframes blinkTextCursor{
	from{
		border-right-color: white;
	}
	to{
		border-right-color: transparent;
	}
}

.custom-header{
	display: flex;
	justify-content: center;
	color: black;
	margin-top: 50px;
}

.logo{
	width: 30%;
}

.nav-item{
	text-rendering: geometricPrecision;
	font-variant: small-caps;
	font-size: 14px;
	display: flex;
}
.dropdown{
	margin-right: 70px;
	align-items: center;
	display: flex;
}
.dropdown-item{
	padding-right: 100px; 
	align-items: center; 
	color: rgb(90,90,90); 
	text-rendering: geometricPrecision; 
	font-variant: small-caps; 
	font-size: 16px;
	display: flex;
}
.polychromatic{
	width: 80%; 
	justify-content: center;
	display: flex;
	margin-left: 80px;
	margin-top: 60px;
}

.img-logo{
	width: 60%; 
	margin-top: 400px;
	display: flex;
	justify-content: center;
	margin-left: 200px;
}
.img-dwarfs{
	width: 80%; 
	margin-top: 400px;
	margin-left: 100px;
	display: flex;
	justify-content: center;
}

.edit-cont{
	font-size: 24px;
	display: flex;
	justify-content: center;
	margin-left: auto;
	text-align: center;
}
.static-text{
	text-rendering: auto; 
	font-variant: small-caps;
	margin: auto;
}
.fluid{
	margin-top: 450px;
	/*display: flex;
	justify-content: center;*/
	text-align: center;
	margin-left: 200px;
}

.img-dna{
	width: 80%;
	height: 80%;
	margin-top: 100px;
	margin-right: 40px;
}

.fluids{
	padding-left: 60px; 
	margin-left: 60px;
	text-align: center; 
	font-size: 16px; 
	margin-top: 70px;
}
.mycontainer{
	text-rendering: auto; 
	letter-spacing: 3px; 
	text-align: center
}


.foot-mark{
	display: flex; 
	justify-content: center;
}