

.geo-container{
    display: flex;
    position: absolute;
    max-width: 10px;
    margin-left: 50px;
}
.span-geo, .notificate, .ambient-class{
    color: blueviolet;
    font-size: medium;
    margin-left: 1.2px;
    margin-top: 2px;
    margin-right: 2px;
}

.logo{
    width: 30%;
    margin-bottom: 10px ;
}

.globe-ok, 
.globe-btn, 
.navigate-ok, 
.notify-class, 
.ambient-ok,
.ambient{
    background-color: green;
    color: white;
    border-radius: 20%;
    
}

.globe-btn{
    display: block;
    position: inherit;
}

.navigate{

}
.ambient{

}

.checkbox-geo{
    margin-right: 5px;
    margin-top: 10px;
}
.checkbox-notification{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
}
.checkbox-ambient{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
}
.btn-checkbox{
    margin-bottom: 20%;
    margin-top: 50%;
    margin-right: 50px;
    display: flex;
    justify-content: center;
}