.row{
    display: flex;
    position: relative;
    margin-top: 10%;
    margin-right: 70%;
}
.col-9, .col-3{
    display: flex;
    position: absolute;
    margin-bottom: 20px;
    margin-left: 20px;

}

.geo-container{
    margin-top: 40px;
    margin-bottom: 40px;
    padding-block-start: 0.1em;
    padding-left: 10.5em;
}

.logo{
    width: 100%;
    margin-bottom: 10px ;
}


.globe-ok, 
.globe-btn, 
.navigate-ok, 
.navigate, 
.ambient-ok,
.ambient{
    background-color: green;
    color: white;
    border-radius: 20%;
}
.person-record{
    color: black;
    font-family: fantasy;
    font-weight: 100;
    margin-left: 10%;
}
.paypal-logo{
    width: 30%;
    height: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.checkbox-geo{
    margin-right: 5px;
    margin-top: 10px;
}
.checkbox-notification{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
}
.checkbox-ambient{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
}
.btn-checkbox{
    margin-bottom: 20%;
    margin-top: 50%;
    margin-right: 50px;
    display: flex;
    justify-content: center;
}