.company-logo-image{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.zoom {
    padding: 50px;
    background-color: white;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
    cursor: progress;
    cursor: wait;
  }
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }