.btn-connect{
	border-style: none;
	display: flex;
	justify-content: center;
	margin-left: 20px;
	background-color: none;
	width: 50%;
	flex-direction: column;


}

.div-form{
	display: flex;
	justify-content: center;
	margin: auto;
}

.text{
	margin-top: 20px;
}

.form-submit{
	margin: 20px;
}

.static{
	width: 100%;
	scale:1;
	margin-left: 10px;
}
.sub-form{
	display: ruby;
	margin-left: 20px;
}
.form-option{
	text-align: center;
}

.btn-submit{
	text-align: center;
}

