.btn-connect{
	margin-top: 5px;
	margin-left: 200px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-content: center;
	border-style: none;
	color: white;
	background-color: black;
	height: 30%;
}
.btn-signup{
	display: flex;
	position: relative;
	justify-content: center;
	background: padding-box;
	margin-left: 10px;
	background-color: blueviolet;
	border-radius: 10px;
}

.div-form{
	display: flex;
	justify-content: center;
	margin: auto;
	width: 50%;
	flex-direction: column;

}

.text{
	margin-top: 20px;
}

.form-submit{
	margin: 20px;
}

.static{
	width: 100%;
	scale:1;
	margin-left: 10px;
}
.sub-form{
	display: ruby;
	margin-left: 20px;
}
.form-option{
	text-align: center;
}

.btn-submit{
	text-align: center;
}

