.main-dashboard-div{
    display: flex;
	justify-content: flex-start;
    margin-top: 25px;
    padding: 0px;
}
.logo{
	display: flex;
	width: 30%;
	position: relative;
}
.change-service-color{
    color: black;
}

.form-card{
    display: flex;
    position: relative;
    margin-top:20%;
    margin-left: 20%;
}
.card{
    display: inline-block;
	background-color: #ffffff;
	margin: 30px;
	padding: 26px;
	width: 312px;
	min-width: 288px;
    border-radius: 8px;
    border: 1px purple dashed;
}

.card-body{
    display: flex;
    position: relative;
    /* margin-bottom: 10px; */
}
.check{
    display: flex;
    position: relative;
   color: darkorchid;
  justify-content: center;
}
.BtnBack{
    display: flex;
    position: relative;
    justify-content: flex-end;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body {
    height: 100vh;
}
.cont {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    display: inline-block;
    /* margin-top: 30px; */
}
.cart {
    outline: none;
    border: 0;
    background: darkmagenta;
    padding: 15px;
    color: white;
    width: 100%;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: 0.5s width;
}
.cart_clk {
    width: calc(100% - 75px);
}
.crtdiv {
    border: 1px solid darkmagenta;
    width: 250px;
    border-radius: 4px;
    position: relative;
    background: fuchsia;
}
.fa {
    font-size: 16px;
}
.cart .fa {
    font-size: 26px;
    position: relative;
    padding: 0 5px 0 0;
}
.cart .fa:after {
    position: absolute;
    content: attr(data-before);
    color: #000;
    font-family: 'Lato', sans-serif;
    left: 11px;
    font-weight: bold;
    top: 5px;
    font-size: 12px;
}
.qty {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: #416AA6;
}
.dec,
.inc {
    cursor: pointer;
}
.num {
    width: 22px;
    display: inline-block;
    text-align: Center;
}

.form{
    display: flex;
    position: relative;
    margin: 10%;
}

.div-data{
    display: flex;
    position: relative;
    justify-content: center;
    color: darkmagenta;
    font-style: oblique;
    font-family: fantasy;
}
.user{
    display: inline-block;
    position: relative;
    justify-content: center;
    text-align: center;
}
.div-card{
    display: inline-flex;
    position: relative;
    justify-content: center;
   padding: 2rem;
}
.fa-btc, .fa-credit-card{
    display: flex;
    position: relative;
    margin-left: 5px;
}
.fa-shopping-cart{
    animation: hello 5s infinite;
}
@keyframes hello{
    0%{
        left: 0%;
        position: relative;
    }
    50%{
        left: 50%;
        position: relative;
    }
    100%{
        left: 100%;
        position: relative;
    }
}


