
 .credit-form{
  
}
.logo{
    width: 30%;
    position: relative;
}
.main-dashboard-div{
    display: flex;
    margin-top: 2em;
}
.submit-btn{
    color: green ;
    
}
.card-header{
    text-align: center;
    color: black;
}
.card-body{
    text-align: center;
    color: whitesmoke;
}
.cancel-btn{
    color: red;
}
.change-service-color{
    color: green;
}

.form-main{
    display: flex;
    justify-content: center;
}
.change-service-blue{
    border: 2px darkmagenta solid;
    background-color: cornsilk;
    color: fuchsia;
}
#loading {
    -webkit-animation: rotation 2s infinite alternate-reverse;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}