.register-main-div{
  background-color:#f9f9f9;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 330px;
  min-width: 100px;
  margin: 60px 0px;
}
.register-form {
  background: white;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 120px;
  margin-top: 120px;
  box-shadow: 0 2px 34px 0 #ddd4d4;
  border-radius: 39px;
}
.custom-form-row {
  margin: 20px 15px;
}
.custom-label {
  font-weight: bold;
}
.gender-box {
  margin: 0px;
  margin-left: 22px;
}
.submit-button {
  background: #31dc58;
  margin-top: 10px;
  width: 30%;
  color: white;
  font-weight: bolder;
}
.submit-form-div, .image-div {
  display: flex;
  justify-content: center;
}
.custom-form-group {
  border: 1px solid #bbbbbb;
  padding: 30px 15px;
  margin-right: 20px;
  box-shadow: 0 2px 34px 0 #e9e9e9;
  width: 48%;
}
.full-width {
  width: 100%;
}
.third-half-width {
  width: 31.3%;
}
.custom-radio {
  position: relative;
  top: -5px;
  margin-right: 10px;
}
.container-alert{
  margin: 50px;
  position: relative;
  width: 80%;
 left: 40px;
 }
 .alert-danger{
   border-radius: 20px;
   color:red;
 }
 .alert-success{
   border-radius: 20px;
   color: green;
 }
 .span-message{
   position: inherit;
   display: inherit;
   margin-top: 30px ;
 }
 #danger{
   margin-left: 90%;
    border-radius: 10px; 
    margin-bottom: 50px;
 }