.div-form{
	display: flex;
	justify-content: center;
	margin-top: 130px;
	align-items: center;
	flex-direction: column;
	border: 1px solid grey;
	width: 70%;
	margin-left: 130px;
}

.btn-submit{
	background-color: snow ;
	cursor: default;
	margin: auto;
	margin-top: 0px;
}
.btn-email{
	margin-top: 10px;
	visibility: visible;
}
.btn-password{
	margin-top: 10px;
	visibility: visible;
}
.enable-disable-0{
	margin-top: 5px;
}

.btn-terms{
	margin-top: 10px;
}

.span-link{
	color: green;
	visibility: visible;
	margin-left: 5px;
}



.img-logo{
	width: 30%;
	margin-top: 20px;
}


.form-control{
	display: block;
	margin-bottom: 5px;
	visibility: hidden;
}

.pay-form{
	display: flex;
	margin-left: 20px;
	margin-top: 20px;
}
.has-search{
	display: block;
	text-align: center;
}

.h4{
	text-align: center; 
	font-family: 'Roboto Mono', monospace;
	color: #424242;
	margin-top: 100px;
	margin-left: 20px;
}

.form-img{
	margin-top: 20px;
	display: block;
	border:1px solid darkgray;
	display: hidden;
}

