.main-dashboard-div {
    background-color:#f9f9f9;
    font-family: 'Lato', sans-serif;
    height: 62vh;
  }
  
  .icon-light {
    color: black;
    margin-right: 5px;
  }
  
  .dropdown-menu {
    left: 30px;
  }
  
  .h4 {
    margin: 20px 0px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    height: 60px;
  }
  
  .custom-navbar {
    background-color: #ededed;
  }
  

  .heading-text{
	  margin-top: 70px;
      display: flex;
   	  justify-content: center;
	  position: relative;
	  margin-right: 18px;
  }
  
  .container-fluid{
    display: flex;
    position: relative;
    justify-content: center;
    top: -208px;
    text-rendering: geometricPrecision;
    color: gray;
  }

  .standard-terms{
    position: relative;
    /* display: flex; */
    top: 157px;
    justify-content: flex-start;
    flex-direction: row-reverse;
    left:13px;
    font-weight: bold;
  }

  .rowfluid{
    display: flex;
    position: relative;
    left: 50px;
  }

  .line-2{
    color: whitesmoke;
    background-color: black;
    margin-top: 20px;
  }
  
  .foot-mark{
    display: flex;
    position: relative;
    justify-content: center;
    top: 191pc;
    background-color: black;
    color: whitesmoke;
    height: 9pc;
  }
  
  .channel{
    position: absolute;
    display: flex;
    top: 18px;
    left:73pc;
    border-radius: 11px;
  }
  
  .insta{
    position : absolute;
    display: flex;
    left: 27px;
  }
  

  .tweet{
    position : absolute;
    display: flex;
    left: 53px;
  }

  .reddit{
    position : absolute;
    display: flex;
    left: 77px;
  }
  

  /* .buymecoffee{
    display: flex;
    position : absolute;
    left: 47px;
  } */

  .col{
    display: flex;
    position: relative;
    margin-top: 20px;
  }
  
