
.logo{
	display: flex;
	width: 30%;
	position: relative;
}
.main-dashboard-div{
	display: flex;
	justify-content: flex-start;
	margin-top: 25px;
}
.div-form-card{
	width: 18rem;
	display: flex;
	position: relative;
	margin-left: 50%;
	margin-top: 10%;
	color: cornsilk;
}
.form-card{
	background-color: darkmagenta;
	display: flex;
    justify-content: center;
    position: relative;
}
.list-group{
	color: blueviolet;
}
.margin-space{
	display: flex;
	position: relative;
	margin-bottom: 20px;
	background-color: darkorchid;
}

.card-title{
	display: flex;
	position: relative;
	justify-content: center;
	
	border :2px whitesmoke dotted;
	border-radius: 10px;
}
.btn-primary, .btn-dark{
	display: flex;
	position: relative;
	background-color: indigo;
	border: 2px whitesmoke dotted;
	border-radius: 10px;
	margin-top: 10px;
}
.div-meta{
	display:flex;
	position:relative;
	margin-left: 2%;
	background: padding-box;
	border: 2px whitesmoke dashed;
	border-radius: 10px;
	font-size: 15.5px;
}
.fa-check-circle{
	color: green;
	visibility: hidden;
	margin-right: 2px ;
	margin-top: 2px;
}
.fa-ban{
	color: red;
	visibility:visible;
	margin-right: 2px;
	margin-top: 2px;
}
.connect{
	visibility: hidden;
	margin-left: 2px;
	color: green;
}
.disconnect{
	visibility: visible;
	margin-left: 2px;
	color: red;
}