.btn-connect{
	margin-top: 5px;
	margin-left: 200px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-content: center;
	border-style: none;
	color: black;
	background-color: light;
	height: 100%;
}

.static-field{
	align-content: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.static-img{
	align-self: center;
	text-align: center;
}
.static-text{
	text-align: center;
	margin-top: 5px;
}
.avatar-pics{
	margin-top: 5px;
}
.myAvatar{
	border-radius: 50%;
	width: 20%;
	position: relative;
}
.address{
	margin-top: 10px;
}
.balance{
	margin-top: 10px;
}

.form-opts{
	display: flex;
	justify-content: center;
	flex-direction: column-reverse;
	align-self: center;
	text-align: center;
}
.btn-pay,
.btn-rec, 
.btns, 
{
	margin: auto;
}

.btn-Send,
.btn-ok,
.btn-reject,
.btn-reset,
.more-btn 
{
	border-style: none;
	background-color: black;
	color: white;
	margin-top: 5px;
	height: 10%;
}

.btn-Send{
	margin-top: 50px;
}

.send-input,
.recAdd-input,
.dropdown-trans, 
.form-dropdown-control,
.btn-ok,  
.class-amount,
.class-nonce,
.class-gas,
.more-btn{
	visibility: hidden;
}

.form-send{
	align-items: center;
	margin-top: 20px;
}
.form-1, .rece{
	align-content: center;
	margin-top: 10px;
}

.changePic{
	color: indigo;
	position: absolute;
	top: 77.5%;
	left: 55.7%;
	padding: 2.0px 2.0x;
	-ms-transform:translate(-50%,-50%);
	transform: translate(-50%,-50%);
	background: antiquewhite;
	cursor: pointer;
	border-style: none;
}
.reverse{
	color: fuchsia;
	position: absolute;
	top: 77.5%;
	left: 45.0%;
	padding: 2.0px 2.0x;
	-ms-transform:translate(-50%,-50%);
	transform: translate(-50%,-50%);
	background: antiquewhite;
	cursor: pointer;
	border-style: none;
}

.more{
	flex-direction: column;
	text-align: center;
	margin-left: 110px;
	padding-left: 100px;
}

