
.btn-connect{
	margin-top: 5px;
	margin-left: 200px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-content: center;
	border-style: none;
	color: light;
	background-color: snow;
	height: 100%;
}

.static-field{
	align-content: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.static-img{
	align-self: center;
	text-align: center;
}
.static-text{
	text-align: center;
	margin-top: 5px;
}
.avatar-pics{
	margin-top: 5px;
}
.myAvatar{
	border-radius: 50%;
	width: 20%;
	position: relative;
}
.address{
	margin-top: 10px;
}
.balance{
	margin-top: 10px;
}

.form-opts{
	display: flex;
	justify-content: center;
	flex-direction: column-reverse;
	align-self: center;
	text-align: center;
	margin-top: 10px;
}
.btn-pay,
.btn-rec, 
.btns, 
{
	margin: auto;
}

.btn-Send,
.btn-ok,
.btn-reject,
.btn-reset,
.btn-okx,
.more-btn 
{
	border-style: none;
	background-color: white				;
	margin-top: 5px;
	height: 10%;
}

.btn-reject,
.btn-reset, 
.btn-okx{
	color: red;
}

.btn-Send,
.btn-ok{
	color: green;
}

.more-btn{
	color: indigo;
}

.btn-Send{
	margin-top: 50px;
}

.send-input,
.recAdd-input,
.dropdown-trans, 
.form-dropdown-control,
.btn-ok,
.btn-okx,  
.class-amount,
.class-nonce,
.class-gas,
.more-btn{
	visibility: hidden;
}

.form-send{
	align-items: center;
	margin-top: 20px;
}
.form-1, 
.rece{
	align-content: center;
	margin-top: 10px;
}

.changePic{
	color: indigo;
	position: absolute;
	top: 58.5%;
	left: 56.7%;
	padding: 2.0px 2.0px;
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	background: antiquewhite;
	cursor: pointer;
	border-style: none;
}
.reverse{
	color: fuchsia;
	position: absolute;
	top: 70.5%;
	left: 43.5%;
	padding: 2.0px 2.0px;
	-ms-transform:translate(-50%,-50%);
	transform: translate(-50%,-50%);
	background: antiquewhite;
	cursor: pointer;
	border-style: none;
}

.more{
	margin-left: 220px;
	text-align: center;
}
.eth-img{
	width: 3%;
}


