.main-dashboard-div {
	background-color:#f9f9f9;
	font-family: 'Lato', sans-serif;
	height: 100vh;
  }
  .icon-light {
	color: black;
	margin-right: 5px;
  }
  .dropdown-menu {
	left: 30px;
  }
  .h4 {
	margin: 20px 0px;
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
  }
  .main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  .infection-field, .file-upload-field  {
	margin-top: 45px;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  .logo {
	height: 60px;
  }
  .custom-navbar {
	background-color: #ededed;
	position: absolute;
	top: 3px;
	width: 100%;
  }
  .div-file{
	  position: absolute;
	  top: 333px;
	  left: 100px;
  }
  .fileinp{
	border-radius: 8px;
	border: 2px;  
	width: 520px;
  }